# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=aulacheck

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera_un_string_aleatorio_largo_aqui_para_jwt"

# Google OAuth
GOOGLE_ID="tu_google_oauth_client_id_aqui.apps.googleusercontent.com"
GOOGLE_SECRET="tu_google_oauth_client_secret_aqui"

